.container{
    background-color: rgb(116, 160, 211);
    height: 100vh;


}

.noActivities{
    display:flex;
    justify-content: center;
}



.containerActivity{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}
.country{
    display: flex;
    justify-content: center;
    /*width: 25%;*/

}

.activitiesTitle{
    background-color: rgb(8, 27, 70);
    display: flex;
    justify-content: center;
    color: white;
}
.mapp{
    width:5%;
    margin: 3px;
}
.flag{
    height: 183px;
    width: 234px;
    padding: 20px;
    object-fit: cover;
}