.img{
    height: 183px;
    width: 234px;
    padding: 20px;
    object-fit: cover;  
}
.title{
    text-decoration: none;
    text-align: center;
}

.container{
    min-width: 23%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    min-height: 45%;
    justify-content: center;
    border: 2px solid #3e51fd;
    border-radius: 3%;
    background-color: rgba(76,128,240,.8);
}


